@model WebApp.Models.Member;

<p>Username: <b>@Model.Username</b></p>
<p>Email: <b>@Model.Email</b></p>
<p>Gender: <b>@Model.Gender</b></p>

<table class="table table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Role Name</th>
            <th>Checked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApp.Models.Role item in Model.Roles)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @if (item.Checked)
                    {
                        <input type="checkbox" class="a" checked value="@item.Id" />
                    }
                    else
                    {
                        <input type="checkbox" class="a" value="@item.Id" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.a').click(function () {
        var rid = $(this).val();
        $.post('/member/add', { roleid: rid, memberId: '@Model.Id' }, function (o) {
            console.log(o);
        });
    });
</script>