@model List<WebApp.Models.Product>

<form action="/product/search" method="get">
    <input type="text" name="q" value="@Context.Request.Query["q"]"/>
    <button>Search</button>
</form>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.n; i++)
    {
        <li class="page-item">
            <a class="page-link" href="/product/search/@i?q=@Context.Request.Query["q"]">@i</a>
        </li>
    }
</ul>

<table class="table table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Model Year</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApp.Models.Product item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td>@item.BrandName</td>
                <td>@item.ModelYear</td>
                <td>@item.Price</td>
                <td>
                    <a href="/product/edit/@item.Id"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

